body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center; /* centraliza na horizontal */
  align-items: center;     /* centraliza na vertical */
  height: 100vh;           /* ocupa a altura total da tela */
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
}

.room-section {
  background: white;
  color: black;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}
